.app{
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.container {
  font-size: 16px;
  line-height: 22px;
  width: 595px;
  height: 1882px;
  z-index: -1;
	grid-template-rows: 100px 132px auto;
}

.row1 {
		grid-row-start: 1;
  	grid-row-end: span 1;
    border-bottom: 1px solid #484848;
    
}

.row2 {
  grid-row-start: 2;
  grid-row-end: span 2;
  border-bottom: 1px solid #484848
}

.row3 {
  grid-row-start: 3;
  grid-row-end: span 3;
  border-bottom: 1px solid #484848
}


