.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  font-size: 24px;
  
}
.leftcol{
  width: 407px;
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: auto auto;
}

.rightcol {
  width: 203px;
  grid-column: 2 / span 1;
}

.total {
  font-size: 24px;
  font-weight: bold;
  grid-column: 1 / span 1;
 
}

.starsRating {
  grid-column: 2 / span 1;
  height: 30px;
  width: auto;
  
}

.search {
  width: 187px;
  height: 33px;
  padding: 8px;
 
 justify-self: right;

}