.pageTabs {
    display: inline-grid;
    grid-template-columns: 46px 46px 46px 46px 46px 46px 46px 46px 46px;
    column-gap: 1em;
    font-size: 14px;
    color: #509597;
    margin-top: 20px;
}

.tab {
    height: 32px;
    width: 32px;
    border: 1px;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

.currentTab {
    height: 32px;
    width: 32px;
    color: white;
    background: #008489;
    border-radius: 50%;
    align-self: center;
    text-align: center;
}

.tab span {
    display: block;
    margin-top: 4px;
}

.currentTab span {
    display: block;
    margin-top: 4px;
}

.arrow {
    height: 32px;
    width: 32px;
    border: 1px solid #008489;
    border-radius: 32px;
    font-size: 24px;
    color: #008489;
}

.arrow span {
    display: block;
    margin-top: -5px;
}