.searchheaderwrapper {
	padding: 14px;
	display: grid;
	grid-template-columns: 80% 20%;
}

.topRow {
	grid-column: 1 / 2;
	align-self: center;
	justify-self: center;
	font-size: 14px;
}

.goback {
	grid-column: 2 / 3;
	justify-self: right;
	color: #008489;	
	text-decoration: underline;
	font-size: 14px;
}

.wrapper {
	padding: 12px;
}

.review {
	display: grid;
	grid-template-columns: 48px 516px 14px;
	grid-template-rows: 21px auto 43px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	border-bottom: 1px solid #484848

}

.userpic {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.username {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	font-weight: bold
}

.date {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 14px;
	line-height: 18px;
}

.flag {

}

.text {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: row3-start;
	grid-row-end: 4;

}
