.wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
	height: 208px;
	width: 610px;
	align-self: center;
	
}

.leftCol {
	grid-column: 1 / 2; 
	height: 92px;
	width: 289px;
	padding: 8px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.rightCol {
	grid-column: 2 / 3;
	height: 289px;
	width: 92px;
	padding: 8px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.row1 {
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 144px 144px;
	height: 21px;
}
.row2 {
	grid-row: 2 / 3;
	display: grid;
	grid-template-columns: 144px 144px;
	height: 21px;
}
.row3 {
	grid-row: 3 / 4;
	display: grid;
	grid-template-columns: 144px 144px;
	height: 21px;
}
.label {
	grid-column: 1 / 2;
	padding: 8px;
	justify-self: start;
	height: 16px;
}
.stars {
	grid-column: 2 / 3;
	padding: 8px;
	justify-self: end;
	height: 16px;
}	
