.searchheaderwrapper {
	padding: 14px;
	display: grid;
	grid-template-columns: 70% 30%;
}

.topRow {
	grid-column: 1 / 2;
	align-self: center;
	justify-self: left;
	font-size: 14px;
}

.goback {
	grid-column: 2 / 3;
	justify-self: right;
	color: #008489;	
	font-size: 14px;
}
.goback:hover {	
	text-decoration: underline;
}

.wrapper {
	padding: 12px;
}

.review {
	display: grid;
	grid-template-rows: 48px 126px;
	border-bottom: 1px solid #484848;
	width: 595px;
	height: 175px;
	margin-top: 20px;
}

.row1 {
	grid-row: 1 / 2;
	align-self: stretch;
	display: grid;
	grid-template-columns: 48px 532px 14px;
}

.row2 {
	grid-row: 2 / 3;
	align-self: center;
	height: 86px;

}

.userpic {
	border-radius: 50%;
	height: 48px;
	width: 48px;
}
.column1 {
	grid-column: 1 / 2;
	justify-self: stretch;
	align-self: stretch;
}

.column2 {
	grid-column: 2 / 3;
	align-self: start;
	justify-self: start;
	display: grid;
	grid-template-rows: auto auto; 
	margin-left: 16px;

}
.username {
	grid-row: 1 / 2;
	font-weight: bold;
}

.date {
	grid-row: 2 / 3;
	font-size: 14px;
	line-height: 18px;
}

.column3 {
	grid-column: 3 / 4;
	justify-self: stretch;
	align-self: stretch;
}

.flag {
	height: 20px;
	width: 20px;
}

.text {
	justify-self: center;
	align-self: center;
}
